@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable.css";
@import "https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/variable/pretendardvariable-jp.css";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap";
@import "https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap";
#app {
  overscroll-behavior-y: contain;
  overscroll-behavior-x: none;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: default;
  overflow: hidden;
}
.card[data-v-0f413ab5] {
  position: absolute;
  z-index: 999;
  border-radius: 10px;
  height: var(--card-height);
  width: var(--card-width);
  left: var(--card-left);
  top: var(--card-top);
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate))
    rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y))
    rotate(var(--tw-rotate-z)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    scaleZ(var(--tw-scale-z));
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: currentColor;
  overflow: hidden;
  --tw-border-opacity: 0.5;
  border-style: solid;
  border-width: 1px;
}
.card.minimap[data-v-0f413ab5] {
  border-radius: 5px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  opacity: 0.4;
}
.card__title[data-v-0f413ab5] {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-width: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 1.5rem;
}
.card__content[data-v-0f413ab5] {
  height: calc(var(--card-height) - 1.5rem);
  width: 100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card__content.no-title[data-v-0f413ab5] {
  height: 100%;
}
.card[data-v-0f413ab5]:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  --tw-scale-z: 1.05;
}
.star[data-v-2642608f] {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.75rem;
  position: absolute;
}
*[data-v-25a1543a] {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.wizdome[data-v-25a1543a] {
  height: 100%;
  width: 100%;
  padding: 0.75rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow-y: scroll;
  --scrollbar-track: initial;
  --scrollbar-thumb: initial;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  overflow: overlay;
  scrollbar-width: auto;
  --scrollbar-thumb: #6b7280;
  --scrollbar-track: #1f2937;
}
.wizdome[data-v-25a1543a]::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
.wizdome[data-v-25a1543a]::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
.wizdome[data-v-25a1543a]::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
details[data-v-25a1543a] {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  overflow: hidden;
}
details[open] > summary > .icon[data-v-25a1543a] {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate))
    rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y))
    rotate(var(--tw-rotate-z)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    scaleZ(var(--tw-scale-z));
  --tw-rotate: 90deg;
}
details pre[data-v-25a1543a],
details p[data-v-25a1543a],
details ul[data-v-25a1543a],
details div[data-v-25a1543a] {
  margin-left: 2.75rem;
}
summary[data-v-25a1543a] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  list-style-type: none;
  font-family: Yeon Sung;
  font-size: 1.5rem;
  line-height: 2rem;
  cursor: pointer;
}
.icon[data-v-25a1543a] {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.career[data-v-ee465c15] {
  height: 100%;
  width: 100%;
  padding: 2.5rem 0.75rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  -webkit-row-gap: 1.25rem;
  -moz-row-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  row-gap: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.career__body[data-v-ee465c15] {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  -webkit-row-gap: 0.5rem;
  -moz-row-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  row-gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.career__title[data-v-ee465c15] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  grid-column-gap: 0.25rem;
  column-gap: 0.25rem;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.career__title[data-v-ee465c15]:hover {
  cursor: pointer;
  text-decoration-thickness: 2px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.career__period[data-v-ee465c15],
.career__position[data-v-ee465c15] {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 1.5rem;
}
.my-info[data-v-2c3dbd15] {
  height: 100%;
  width: 100%;
  padding: 2.5rem 0.75rem;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  -webkit-row-gap: 1rem;
  -moz-row-gap: 1rem;
  grid-row-gap: 1rem;
  row-gap: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-items: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.my-info__img[data-v-2c3dbd15] {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 9999px;
  overflow: hidden;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  --tw-border-opacity: 0.5;
  border-width: 2px;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.my-info__img img[data-v-2c3dbd15] {
  height: 100%;
  width: 100%;
}
.my-info__name[data-v-2c3dbd15] {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-items: center;
}
.my-info__body[data-v-2c3dbd15] {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  -webkit-row-gap: 0.5rem;
  -moz-row-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  row-gap: 0.5rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-items: center;
  font-size: 0.75rem;
  line-height: 1rem;
}
.my-info__contact[data-v-2c3dbd15] {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  justify-items: center;
}
.star[data-v-962f0b7e] {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.75rem;
  position: absolute;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.blink_1[data-v-962f0b7e] {
  animation-name: blink10-962f0b7e;
}
.blink_2[data-v-962f0b7e] {
  animation-name: blink20-962f0b7e;
}
.blink_3[data-v-962f0b7e] {
  animation-name: blink30-962f0b7e;
}
.blink_4[data-v-962f0b7e] {
  animation-name: blink40-962f0b7e;
}
.blink_5[data-v-962f0b7e] {
  animation-name: blink50-962f0b7e;
}
@keyframes blink10-962f0b7e {
  0%,
  to {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
  20% {
    background-color: transparent;
  }
}
@keyframes blink20-962f0b7e {
  0%,
  to {
    background-color: transparent;
  }
  40% {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
}
@keyframes blink50-962f0b7e {
  0%,
  to {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
  50% {
    background-color: transparent;
  }
}
@keyframes blink30-962f0b7e {
  0%,
  to {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
  60% {
    background-color: transparent;
  }
}
@keyframes blink40-962f0b7e {
  0%,
  to {
    background-color: transparent;
  }
  80% {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }
}
.page[data-v-1f626a47] {
  width: 100%;
  transition: transform 0.6s cubic-bezier(0.35, 0.755, 0.42, 0.95);
}
.wrapper[data-v-1f626a47] {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.gallery[data-v-1f626a47] {
  position: relative;
  height: 2200px;
  width: 3600px;
  overflow: hidden;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: -o-linear-gradient(bottom, var(--tw-gradient-stops));
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(25, 25, 112, var(--tw-from-opacity, 1));
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
  --tw-gradient-stops: var(--tw-gradient-from),
    rgba(33, 20, 0, var(--tw-via-opacity, 1)),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
  --tw-gradient-to: rgba(0, 0, 0, var(--tw-to-opacity, 1));
}
.gallery[data-v-1f626a47]:after {
  content: "";
  transition: opacity 0.2s;
  background: radial-gradient(#ffffff, transparent 80%);
  top: calc(var(--shiny-y, 0) * 1px - 100px);
  left: calc(var(--shiny-x, 0) * 1px - 100px);
  animation: hue-rotate-1f626a47 1.5s ease-in-out infinite;
  position: absolute;
  opacity: 0;
  border-radius: 9999px;
  height: 200px;
  width: 200px;
}
.gallery[data-v-1f626a47]:hover:after {
  opacity: 0.4;
}
@media (max-width: 767.9px) {
  .minimap[data-v-1f626a47] {
    display: none;
  }
}
.minimap[data-v-1f626a47] {
  overflow: hidden;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 15rem;
  width: 20rem;
  z-index: 20000;
  border-radius: 0.5rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0/0.1), 0 2px 4px -2px rgb(0 0 0/0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: -o-linear-gradient(bottom, var(--tw-gradient-stops));
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: rgba(25, 25, 112, var(--tw-from-opacity, 1));
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
  --tw-gradient-stops: var(--tw-gradient-from),
    rgba(33, 20, 0, var(--tw-via-opacity, 1)),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
  --tw-gradient-to: rgba(0, 0, 0, var(--tw-to-opacity, 1));
}
.minimap__marker[data-v-1f626a47] {
  position: absolute;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-width: 1px;
}
@keyframes hue-rotate-1f626a47 {
  0% {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(1turn);
  }
}
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
* {
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  scrollbar-color: initial;
  scrollbar-width: initial;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::moz-focus-inner {
  border-style: none;
  padding: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
a {
  color: inherit;
  text-decoration: inherit;
}
body {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}
button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  background-color: transparent;
  background-image: none;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button,
[role="button"] {
  cursor: pointer;
}
code {
  font-size: 1em;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  line-height: 1.5;
}
h1,
h2,
p {
  margin: 0;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  border-style: solid;
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.scrollbar {
  --scrollbar-track: initial;
  --scrollbar-thumb: initial;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  overflow: overlay;
  scrollbar-width: auto;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}
.scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.scrollbar-thumb-gray-500 {
  --scrollbar-thumb: #6b7280;
}
.bg-current {
  background-color: currentColor;
}
.bg-white,
.bg-star-color-A {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-gradient-to-t {
  background-image: -o-linear-gradient(bottom, var(--tw-gradient-stops));
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}
.from-\[rgb\(25\,25\,112\)\] {
  --tw-gradient-from: rgba(25, 25, 112, var(--tw-from-opacity, 1));
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
}
.via-\[rgb\(33\,20\,0\)\] {
  --tw-gradient-stops: var(--tw-gradient-from),
    rgba(33, 20, 0, var(--tw-via-opacity, 1)),
    var(--tw-gradient-to, rgba(255, 255, 255, 0));
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-b-white {
  --tw-border-opacity: 1;
  border-bottom-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-solid {
  border-style: solid;
}
.border-1 {
  border-width: 1px;
}
.border-2 {
  border-width: 2px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.justify-items-center {
  justify-items: center;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
.font-extrabold {
  font-weight: 800;
}
.font-medium {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.overscroll-y-contain {
  overscroll-behavior-y: contain;
}
.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.left-\[var\(--card-left\)\] {
  left: var(--card-left);
}
.top-\[10px\] {
  top: 10px;
}
.resize {
  resize: both;
}
.text-center {
  text-align: center;
}
.hover\:decoration-2:hover {
  text-decoration-thickness: 2px;
}
.hover\:underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-80 {
  width: 20rem;
}
.w-\[var\(--card-width\)\] {
  width: var(--card-width);
}
.w-18 {
  width: 4.5rem;
}
.w-35 {
  width: 8.75rem;
}
.w-25 {
  width: 6.25rem;
}
.w-\[3600px\] {
  width: 3600px;
}
.w-\[200px\] {
  width: 200px;
}
.gap-y-2 {
  -webkit-row-gap: 0.5rem;
  -moz-row-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  row-gap: 0.5rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-rows-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-rows-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}
.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z))
    rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x))
    rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translate(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate))
    rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y))
    rotate(var(--tw-rotate-z)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    scaleZ(var(--tw-scale-z));
}
.\<transition {
  -webkit-transition-property: background-color, border-color, color, fill,
    stroke, opacity, -webkit-box-shadow, -webkit-transform, filter,
    backdrop-filter;
  -o-transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, -webkit-box-shadow, transform, -webkit-transform,
    filter, backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.transition-opacity {
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.ease-in-out {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-300 {
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.duration-350 {
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.filter {
  --tw-blur: var(--tw-empty);
  --tw-brightness: var(--tw-empty);
  --tw-contrast: var(--tw-empty);
  --tw-grayscale: var(--tw-empty);
  --tw-hue-rotate: var(--tw-empty);
  --tw-invert: var(--tw-empty);
  --tw-saturate: var(--tw-empty);
  --tw-sepia: var(--tw-empty);
  --tw-drop-shadow: var(--tw-empty);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.scroll-smooth {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  position: relative;
  font-family: Pretendard Variable;
}
